<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .white-bg {
          background-color: rgb(248, 202, 202);
        }
        .gray-bg {
          background-color: rgb(142, 160, 142);
        }
    </style>
</head>

<body>
    <h1>Java_Summery</h1>
    <table>
      <colgroup>
          <col span="2" class="white-bg">
          <col span="1" class="gray-bg">
      </colgroup>
      <colgroup style="background-color: rgb(247, 247, 157);"></colgroup>

      <tr>
        <th>第幾周</th>
        <th>內容</th>
        <th>作業</th>
      </tr>
      <tr>
        <td>01</td>
        <td><a href="https://github.com/yoyoisaboy/Java_Summery/tree/master/src/main/java/com/javaheroku/javasummery/controllers/week01" target="_blank">課程介紹</a></td>
        <td><a th:href="@{/week01}" target="_blank">三角形面積計算機</a></td>
      </tr>
      <tr>
        <td>02</td>
        <td><a href="https://github.com/yoyoisaboy/Java_Summery/tree/master/src/main/java/com/javaheroku/javasummery/controllers/week02" target="_blank">基礎OOP</a></td>
        <td><a href="https://github.com/yoyoisaboy/Java_Summery/tree/master/src/main/java/com/javaheroku/javasummery/controllers/week02" target="_blank">解7題codeforce題目</a></td>
      </tr>
    </table>

    
</body>
</html>


